- name: Loop used
  hosts: all
  become: true
  tasks:
    - name: Install multiple packages
      package:
        name: "{{ item }}"
        state: present
      loop:
        - git
        - curl
        - vim
        - htop